/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  background-color: #F8F8F8 !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
/* Sign-in form container */
#sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card styling */
.card {
  background-color: rgba(255, 255, 255, 0.8); /* Make the card slightly transparent */
  border-radius: 15px; /* Add some rounding to the card edges */
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add soft shadow */
}

/* Text and heading styles */
h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

/* Button styling */
.submit-button {
  background-color: #FFFFFF; /* Submit button color */
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #B3EBF2;
}

/* Link styling */
a {
  color: #0056b3;
  font-weight: 600;
}
.footer {
  background-image: url("https://github.com/manoa-inspire/MATP/blob/Issue-22/app/public/images/background.png?raw=true"); /* Light background */
  padding: 40px 0;
  margin-top: 10px;
}

.footer h5 {
  font-weight: bold;
  color: #333;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer address {
  line-height: 1.6;
}

.footer .list-inline {
  padding-left: 0;
}

.footer .list-inline-item {
  margin-right: 10px;
}

.footer .list-inline-item a {
  font-size: 1.5rem;
  color: #333;
}

.footer-logo {
  width: 100px; /* Adjust logo size */
  margin-top: 25px;
  margin-right: 15px; /* Add space between logos */
}

hr {
  border: 0;
  height: 1px;
  background-color: #333; /* Divider line color */
}

.text-center {
  font-size: 0.9rem;
  color: #666;
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.inputDataBackground {
  color: black;
  background-color: white;
  background-size: cover;
  height: 720px;
}

.inputDataWidth {
  width: 300px;

  .carousel-caption-top {
    padding-top: 10px; /* Adjust padding as needed */
    color: black; /* Ensures the text is readable */
  }

}

/* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/

.user-page-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th, .data-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.view-button, .add-data-button {
  padding: 10px 20px;
  background-color: #282a28;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.view-button:hover, .add-data-button:hover {
  background-color: #413b3b;
  transform: scale(1.02);

}

.carousel-item-custom {
  max-width: 95%;
  max-height: 800px;
  padding: 20px;
  /* background-color: #f0f0f0; */
  margin: 0 auto;
}

.carousel-text-border {
  border: 3px solid white;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

/* Slightly enlarges the button on hover */
.btn-enlarge:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.small-enlarge:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

/* Budget PL Style*/

.input-data-background {
  width: 75%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100%;
}

.input-data-width {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-center-heading {
  padding-bottom: 1rem;
  color: black;
}

.section-title {
  font-weight: bold;
}

.separator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-top-large {
  margin-top: 3rem;
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}

.margin-bottom-medium {
  margin-bottom: 1rem;
}

.margin-y-medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-data-width {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.separator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section-title {
  font-weight: bold;
}

.width-quarter {
  width: 25%;
}

.margin-top-medium {
  margin-top: 1.5rem;
}

.padding-x-large {
  padding-left: 2rem;
  padding-right: 2rem;
}

.margin-all-large {
  margin: 3rem;
}

/* Audited Balance Input style */

.input-data-background {
  width: 75%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100%;
}

.input-data-width {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-center-heading {
  padding-bottom: 1rem;
  color: black;
}

.section-title {
  font-weight: bold;
}

.separator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-top-large {
  margin-top: 3rem;
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}

.margin-y-medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-bottom-medium {
  margin-bottom: 1rem;
}

.input-data-width {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.separator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.padding-x-large {
  padding-left: 2rem;
  padding-right: 2rem;
}

.margin-all-large {
  margin: 3rem;
}

.margin-top-medium {
  margin-top: 1.5rem;
}

.custom-label {
  font-size: 13px;
}

/* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/