/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  background-color: #F8F8F8 !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Card styling */
.card {
  background-color: rgba(255, 255, 255, 0.8); /* Make the card slightly transparent */
  border-radius: 15px; /* Add some rounding to the card edges */
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add soft shadow */
}

.landingPage {
  background-image: url('../images/spirebackground.jpg');
  background-size: cover;
  background-position: 50% 75% ;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
}

.landingPage img {
  display: none;
}

/* This will add space below the background image */
/*noinspection ALL*/
.landingPage .content-section {
  padding-top: 50px 20px;
}

/* Position the text over the image, aligned to the left */
.landingPage .overlay-text {
  position: absolute;
  font-size: 3rem;
  font-weight: lighter;
  top: 250px;
  left: 180px;
  color: white;
  z-index: 25;
  max-width: 800px;
}

.get-started-button {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #0056b3;
}

/* Text and heading styles */
h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

/* Button styling */
.submit-button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #B3EBF2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 20px;
}

.g-col-4 {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Link styling */
a {
  color: #0056b3;
  font-weight: 600;
}
.footer {
  background-image: url("https://github.com/manoa-inspire/MATP/blob/Issue-22/app/public/images/background.png?raw=true"); /* Light background */
  padding: 40px 0;
  margin-top: 0;}

.footer h5 {
  font-weight: bold;
  color: #333;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer address {
  line-height: 1.6;
}

.footer .list-inline {
  padding-left: 0;
}

.footer .list-inline-item {
  margin-right: 10px;
}

.footer .list-inline-item a {
  font-size: 1.5rem;
  color: #333;
}

.footer-logo {
  width: 100px; /* Adjust logo size */
  margin-top: 25px;
  margin-right: 15px; /* Add space between logos */
}

hr {
  border: 0;
  height: 1px;
  background-color: #333; /* Divider line color */
}

.text-center {
  font-size: 0.9rem;
  color: #666;
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.inputDataBackground {
  color: black;
  background-color: white;
  background-size: cover;
  height: 720px;
}

.inputDataWidth {
  width: 300px;

  .carousel-caption-top {
    padding-top: 10px; /* Adjust padding as needed */
    color: black; /* Ensures the text is readable */
  }

}

/* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/

.user-page-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th, .data-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.view-button, .add-data-button {
  padding: 10px 20px;
  background-color: #282a28;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.view-button:hover, .add-data-button:hover {
  background-color: #413b3b;
  transform: scale(1.02);

}

/* Slightly enlarges the button on hover */
.btn-enlarge:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.small-enlarge:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

/* Budget PL Style*/

.input-data-background {
  width: 75%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100%;
}

.input-data-width {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-center-heading {
  padding-bottom: 1rem;
  color: black;
}

.section-title {
  font-weight: bold;
}

.separator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-top-large {
  margin-top: 3rem;
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}

.margin-bottom-medium {
  margin-bottom: 1rem;
}

.margin-y-medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-data-width {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.separator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section-title {
  font-weight: bold;
}

.width-quarter {
  width: 25%;
}

.margin-top-medium {
  margin-top: 1.5rem;
}

.padding-x-large {
  padding-left: 2rem;
  padding-right: 2rem;
}

.margin-all-large {
  margin: 3rem;
}

/* Audited Balance Input style */

.input-data-background {
  width: 75%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100%;
}

.input-data-width {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-center-heading {
  padding-bottom: 1rem;
  color: black;
}

.section-title {
  font-weight: bold;
}

.separator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-top-large {
  margin-top: 3rem;
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}

.margin-y-medium {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-bottom-medium {
  margin-bottom: 1rem;
}

.input-data-width {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.separator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.padding-x-large {
  padding-left: 2rem;
  padding-right: 2rem;
}

.margin-all-large {
  margin: 3rem;
}

.margin-top-medium {
  margin-top: 1.5rem;
}

.navbar-logo {
  width: 250px;
  position: 15px 20px;
  height: auto;
  transition: transform 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(1.1);
  width: 70px;
  height: auto
}

/* Make Navbar Links on the Right Larger */
.navbar .nav-link {
  font-size: 1.2rem;
  padding: 10px 15px;
}

/* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/
.custom-label {
  font-size: 13px;
}

/* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/ /* USER PAGE STYLES*/

#signin-signup-page .App {
  font-family: sans-serif;
  text-align: center;
}

#signin-signup-page * {
  box-sizing: border-box;
}

#signin-signup-page body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

#signin-signup-page h1 {
  font-weight: bold;
  margin: 0;
}

#signin-signup-page h2 {
  text-align: center;
}

#signin-signup-page p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 20px 0 30px;
}

#signin-signup-page span {
  font-size: 12px;
}

#signin-signup-page a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

#signin-signup-page button {
  border-radius: 20px;
  border: 1px solid #1c92d2;
  background-color: #1c92d2;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

#signin-signup-page button:active {
  transform: scale(0.95);
}

#signin-signup-page button:focus {
  outline: none;
}

#signin-signup-page button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

#signin-signup-page form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

#signin-signup-page input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 60%;
}

#signin-signup-page .container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#signin-signup-page .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

#signin-signup-page .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

#signin-signup-page .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

#signin-signup-page .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

#signin-signup-page .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

#signin-signup-page .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

#signin-signup-page .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

#signin-signup-page .overlay {
  background: #1c92d2; /* fallback */
  background: -webkit-linear-gradient(to right, #1c92d2, #9bdbe8);
  background: linear-gradient(to right, #1c92d2, #9bdbe8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

#signin-signup-page .container.right-panel-active .overlay {
  transform: translateX(50%);
}

#signin-signup-page .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

#signin-signup-page .overlay-left {
  transform: translateX(-20%);
}

#signin-signup-page .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

#signin-signup-page .overlay-right {
  right: 0;
  transform: translateX(0);
}

#signin-signup-page .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.navbar .dropdown-menu .dropdown-item.active{
  background-color: transparent !important;
  color: inherit !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other content, signin/signup page (important) */
}

/* Styles specifically for Sign In buttons */
#signin-signup-page .signin-button {
  background-color: #1c92d2; /* Main color for the button */
  color: #ffffff;
  border: 1px solid #1c92d2;
  padding: 12px 45px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 80ms ease-in;
}

#signin-signup-page .signin-button:hover {
  background-color: #9bdbe8; /* Lighter shade on hover */
}

#signin-signup-page .signin-button:active {
  transform: scale(0.95); /* Slightly scale down on click*/
}

#signin-signup-page .signin-button:focus {
  outline: none; /* Remove default outline */
}

#signin-signup-page .signin-button.secondary {
  background-color: transparent;
  color: #1c92d2;
  border: 1px solid #1c92d2;
}

#signin-signup-page .signin-button.secondary:hover {
  background-color: #1c92d2;
  color: #ffffff;
}

/* DisplayAudBalSheet.jsx STYLES*/
.custom-card-body .align-items-center.row {
  padding-left: 5px;
}

.carousel-background {
  position: relative; /* Make sure the parent container is positioned for the pseudo-element */
}

.carousel-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/spire-carousel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5; /* Apply transparency only to the background */
  z-index: 0; /* Place the pseudo-element behind the content */
}

.carousel-background > * {
  position: relative;
  z-index: 1; /* Ensure content stays above the background */
}

.grey-box {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
  width: 50%;
  color: white;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for a "floating" effect */
}

.white-box {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent grey */
  width: 50%;
  color: #444444;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for a "floating" effect */
  height: auto;
}

.custom-btn {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
  color: white !important; /* Optional: Ensures white text on the button */
}

.custom-btn:hover {
  background-color: #004494 !important; /* Slightly darker shade for hover */
  border-color: #004494 !important;
}

.btn-primary {
  background-color: #0056b3 !important;
}


.contact-background {
  background-image: url("/images/contactUsBackground.png");
/*
  background-size: cover;
  background-position: center;
  height: 100vh; /* Adjust as needed
  width: 100%;
*/
}

.contact-foreground {
  background-color: white;
  padding: 50px;
  opacity: 0.92;
}

.contact-text-container {
  padding-left: 50px;
  padding-right: 50px;
}

.contact-email {
  color:#0056b3;
}